---
---
#데이터 서비스 분석 개발 실습 과제 

---
---

#과제 1 : 데이터베이스 구축

**(이미지나 DataFrame으로 보여줄 데이터가 많은 경우에는 일부분 만 보여 주는 것으로 함)**

## 데이터 불러오기 및 전처리

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import pymysql

In [3]:
df = pd.read_excel('품목별  수출입실적_20230257.xls', header=4, thousands = ',')
df.head()

,기간,품목명,품목코드,수출중량,수입중량,수출금액,수입금액,무역수지
0,총계,NaN,NaN,200389806.7,614455059.1,729193799,790158369,-60964570
1,2022,살아 있는 동물,1.0,57.1,1065.6,8430,66573,-58143
2,2022,육과 식용 설육(屑肉),2.0,62338.1,1298350.9,84965,7356993,-7272028
3,2022,어류ㆍ갑각류ㆍ연체동물과 그 밖의 수생(水生) 무척추동물,3.0,731701.6,1472106.8,2037787,5648044,-3610257
4,2022,"낙농품, 새의 알, 천연꿀, 다른 류로 분류되지 않은 식용인 동물성 생산품",4.0,25643.7,374970.7,66455,1579142,-1512687

In [4]:
df1 = df.drop(df.index[0])
df1.tail()

,기간,품목명,품목코드,수출중량,수입중량,수출금액,수입금액,무역수지
190,2023,"가구, 침구ㆍ매트리스ㆍ매트리스 서포트(mattress support)ㆍ쿠션과 이와 ...",190.0,12854.0,65937.4,96245,316725,-220480
191,2023,완구ㆍ게임용구ㆍ운동용구와 이들의 부분품과 부속품,191.0,1687.2,14966.9,33472,278725,-245253
192,2023,잡품,192.0,1985.1,10041.4,33092,90478,-57386
193,2023,예술품ㆍ수집품ㆍ골동품,193.0,9.7,110.9,54240,26526,27714
194,2023,입법 ; 설치된 간이 수정에 따른 입법을 트레이드한다 ; 추가적 수입제한농업인 것의...,194.0,0.0,1679.8,0,0,0

In [5]:
df1.isnull().sum()

기간      0
품목명     0
품목코드    0
수출중량    0
수입중량    0
수출금액    0
수입금액    0
무역수지    0
dtype: int64

In [6]:
#불필요한 정보 전처리 
def drop_features(df):
    df.drop(['기간', '품목명'], axis = 1, inplace = True)
    return df

In [7]:
df2 = drop_features(df1)

## 전처리 결과 보여 주기

In [8]:
#... 결과를 보여 주세요...
df2.tail()

      품목코드     수출중량     수입중량   수출금액    수입금액    무역수지
190  190.0  12854.0  65937.4  96245  316725 -220480
191  191.0   1687.2  14966.9  33472  278725 -245253
192  192.0   1985.1  10041.4  33092   90478  -57386
193  193.0      9.7    110.9  54240   26526   27714
194  194.0      0.0   1679.8      0       0       0

### DB 만들기

In [2]:
mydb = pymysql.connect(host='localhost', user='root', password='Wjy5811!!')
mycursor  = mydb.cursor()

In [3]:
def print_result(sql, cur=mycursor):
    cur.execute(sql)
    result = cur.fetchall()
    if result:
        for i in result:
            print(i)
        print("============")

def create_db():
    sql = "create database olist"
    print_result(sql)
    
def show_query():
    sql = "show databases;"
    print_result(sql)

In [4]:
create_db()

In [5]:
show_query()

('information_schema',)
('mydatabase',)
('mysql',)
('mywork',)
('olist',)
('performance_schema',)
('project',)
('project2',)
('pyer',)
('sakila',)
('sys',)
('testdb',)
('trade_data',)
('world',)
============

In [12]:
def grant_query():
    sql = "grant all privileges on *.* to 'root'@'%' identified by 'Wjy5811!!'"
    print_result(sql)

In [13]:
grant_query()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'identified by 'Wjy5811!!'' at line 1")

'trade_data' 데이터베이스 생성됨

## 테이블 및 칼럼 생성하기

In [13]:
def use_db():
    sql = "use trade_data"
    print_result(sql)

In [14]:
use_db()

In [15]:
def create_table():
    sql = "CREATE TABLE TRADE(`품목코드` INT auto_increment primary key, `수출중량` DECIMAL(65,1), `수입중량` DECIMAL(65,1), `수출금액` DECIMAL(65,1), `수입금액` DECIMAL(65,1), `무역수지` DECIMAL(65,1));"
    print_result(sql)

In [16]:
create_table()

In [17]:
def show_query():
    sql = "describe TRADE;"
    print_result(sql)

In [18]:
show_query()

('품목코드', 'int', 'NO', 'PRI', None, 'auto_increment')
('수출중량', 'decimal(65,1)', 'YES', '', None, '')
('수입중량', 'decimal(65,1)', 'YES', '', None, '')
('수출금액', 'decimal(65,1)', 'YES', '', None, '')
('수입금액', 'decimal(65,1)', 'YES', '', None, '')
('무역수지', 'decimal(65,1)', 'YES', '', None, '')
============

In [19]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:"+"Wjy5811!!"+"@localhost:3306/trade_data?charset=utf8")
connection  = engine.connect()
df2.to_sql(name='TRADE', con=engine, if_exists='append', index=False)
mydb.commit()

C:\Users\wjy39\AppData\Local\Temp\ipykernel_7908\2166479045.py:3: UserWarning: The provided table name 'TRADE' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df2.to_sql(name='TRADE', con=engine, if_exists='append', index=False)

## 전체 자료 조회, 내림차순 정렬, 기초 통계량 산출

In [34]:
#전체자료조회
def show_query():
    sql = "select * from trade;"
    mycursor.execute(sql)
    result = mycursor.fetchall()
    a = pd.DataFrame(result)
    a.columns = ['품목코드','수출중량','수입중량','수출금액','수입금액','무역수지']
    return a

In [35]:
show_query()

     품목코드      수출중량       수입중량       수출금액       수입금액        무역수지
0       1      57.1     1065.6     8430.0    66573.0    -58143.0
1       2   62338.1  1298350.9    84965.0  7356993.0  -7272028.0
2       3  731701.6  1472106.8  2037787.0  5648044.0  -3610257.0
3       4   25643.7   374970.7    66455.0  1579142.0  -1512687.0
4       5   34555.2    51066.8    59208.0   305310.0   -246102.0
..    ...       ...        ...        ...        ...         ...
189   190   12854.0    65937.4    96245.0   316725.0   -220480.0
190   191    1687.2    14966.9    33472.0   278725.0   -245253.0
191   192    1985.1    10041.4    33092.0    90478.0    -57386.0
192   193       9.7      110.9    54240.0    26526.0     27714.0
193   194       0.0     1679.8        0.0        0.0         0.0

[194 rows x 6 columns]

In [38]:
# 무역수지 내림차순 조회 
def show_query():
    sql = "select * from trade order by 무역수지 desc;"
    mycursor.execute(sql)
    result = mycursor.fetchall()
    a = pd.DataFrame(result)
    a.columns = ['품목코드','수출중량','수입중량','수출금액','수입금액','무역수지']
    return a

In [39]:
show_query()

     품목코드        수출중량         수입중량         수출금액         수입금액          무역수지
0      84   2525099.6    1989705.1  210434594.0  131761151.0    78673443.0
1      86   7086061.5    1254998.4   75474476.0   21652065.0    53822411.0
2      39  17469487.6    2731486.5   41158081.0   13815087.0    27342994.0
3      88   7504294.6    2306120.6   17137707.0    2212292.0    14925415.0
4      72  23923100.6   19362312.3   28108456.0   18943803.0     9164653.0
..    ...         ...          ...          ...          ...           ...
189    10     58242.9   16821583.1      21074.0    6577139.0    -6556065.0
190     2     62338.1    1298350.9      84965.0    7356993.0    -7272028.0
191   124   5227146.0   30302720.5    4319546.0   17749776.0   -13430230.0
192    26   1805429.0   77921897.3    1792951.0   21871950.0   -20078999.0
193    27  66513641.6  354312237.6   64751329.0  218678955.0  -153927626.0

[194 rows x 6 columns]

In [40]:
# 무역수지 내림차순 조회 
def show_query():
    sql = "select sum(수출금액)수출금액합계\
             , avg(수출금액)수출금액평균\
             , min(수출금액)최저수출금액\
             , max(수출금액)최고수출금액\
             , sum(수입금액)수입금액합계\
             , avg(수입금액)수입금액평균\
             , min(수입금액)최저수입금액\
             , max(수입금액)최고수입금액\
             , sum(무역수지)무역수지합계\
             , avg(무역수지)무역수지평균\
             , min(무역수지)최저무역수지\
             , max(무역수지)최고무역수지 from trade;"
    mycursor.execute(sql)
    result = mycursor.fetchall()
    a = pd.DataFrame(result)
    a.columns = ['수출금액합계','수출금액평균','최저수출금액','최고수출금액','수입금액합계', '수입금액평균', '최저수입금액', '최고수입금액', '무역수지합계', '무역수지평균', '최저무역수지', '최고무역수지']
    return a

In [41]:
show_query()

,수출금액합계,수출금액평균,최저수출금액,최고수출금액,수입금액합계,수입금액평균,최저수입금액,최고수입금액,무역수지합계,무역수지평균,최저무역수지,최고무역수지
0,729193792.0,3758730.88660,0.0,210434594.0,790158372.0,4072981.29897,0.0,218678955.0,-60964580.0,-314250.41237,-153927626.0,78673443.0

# 과제 2 : 웹페이지 만들기


![](2023-02-28-14-45-57.png)